<div class="container text-muted">
  <div class="row">
    <legend>
      <h5>
        <span>Shopping Cart</span>
        <% if current_user.carts.present? %>
          <span class="text-small pl-2">(<%= current_user.carts.count %> items)</span>
        <% end %>
      </h5>
    </legend>
  </div>
  <% if current_user.carts.present? %>
    <div class="row pt-3">
      <div class="col-12">
        <% total_amount = 0 %>
        <% current_user.carts.each do |item| %>
          <% product = Product.find(item.product_id) %>
          <div class="row pb-5">
            <div class="col-1 text-center">
              <%= link_to visitor_category_product_path(product.category, product), :class => 'vertical-center' do %>
                <%= image_tag product.images.first.variant(resize: "50x50"), :class => 'vertical-center' %>
              <% end %>
            </div>
            <div class="col-5">
              <div class="row">
                <%= link_to visitor_category_product_path(product.category, product), :class => 'vertical-center text-muted' do %>
                  <div class="col-12"><%= product.name %></div>
                <% end %>
              </div>
              <div class="row">
                <div class="col-12">
                  <span class="text-muted text-small">3 - 4 business days</span>
                </div>
              </div>
              <% if item.quantity > product.quantity %>
                <div class="row">
                  <div class="col-12">
                    <span class="text-small text-danger">Only <%= product.quantity %> available in stock. Quantity will be automatically changed.</span>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-2">
              <%= product.html_price %> <span class="text-small"> x <%= item.quantity %></span>
            </div>
            <div class="col-2">
              <% product.price = product.price * item.quantity
                 total_amount += product.price %>
              <%= product.html_price %>
            </div>
            <div class="col-1">
              <%= link_to cart_path(item), :method => :delete, data: {confirm: 'Are you sure?'}, :class => 'text-center' do %>
                <i class="fas fa-trash text-muted"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row pt-3 pb-3 border-top border-bottom text-strong">
      <div class="col-8">Total Amount:</div>
      <div class="col-2">
        <i class="fas fa-rupee-sign"></i> <%= number_with_delimiter(total_amount, delimiter_pattern: /(\d+?)(?=(\d\d)+(\d)(?!\d))/) %>
        /-
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-10">
        Deliver to
        - <%= select_tag :delivery_to, options_from_collection_for_select(@user_addresses, :id, :alias), :id => "delivery_address" %>
        <%= link_to "+ Add new address", new_user_address_path, :class => "ml-3" %>
      </div>
      <div class="col-2 text-right"><%= link_to 'Checkout', "#", "data-path" => "/store/review/", :id => "checkout", :class => 'btn btn-primary' %></div>
    </div>
  <% else %>
    <div class="row pt-3">
      <div class="col-12 text-center text-muted text-large">Whoops! This place seems lonely.</div>
    </div>
  <% end %>

</div>