<div class="container">
  <div class="row">
    <% if @products.present? %>
      <% @products.each do |product| %>
        <div class="card col-3 mb-3 bg-gray-100 bg-white-transition <%= 'disabled' if product.quantity <= 0 %>">
          <%= link_to visitor_category_product_path(@category, product), :class => "row text-no-decoration" do %>
            <div class="col-12">
              <div class="card-header bg-white mt-3">
                <div class="card-image">
                  <%= image_tag product.images.first.variant(resize: "250x250"), :class => 'img' %>
                </div>
              </div>
              <div class="card-body p-0 pt-3">
                <div class="text-bold pb-2"><%= product.name %></div>
                <div class="row pb-2">
                  <span class="text-small text-muted col-12"><%= product.brand.name %></span>
                </div>
              </div>
            </div>
          <% end %>
          <div class="row card-actions pt-2">
            <div class="col-12">
              <div class="row">
                <span class="col-6 text-muted text-small vertical-center">
                  Price: <span class="text-strong"><%= product.html_price %></span>
                </span>
                <% if product.quantity > 2 %>
                  <span class="col-6 text-small text-success text-right vertical-center">
                    In Stock
                  </span>
                <% elsif product.quantity > 0 %>
                  <span class="col-6 text-small text-danger text-right vertical-center">
                    Hurry, only <%= product.quantity %> left!
                  </span>
                <% else %>
                  <span class="col-6 text-small text-muted text-right vertical-center">
                    Sold out!
                  </span>
                <% end %>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row p-2" role="group">
                    <%= link_to "Add to cart", visitor_add_to_cart_path(current_user, product), :class => "col-6 btn btn-link text-dark text-small text-underline #{'disabled' if product.quantity <= 0}" %>
                    <button class="col-6 btn btn-warning <%= 'disabled' if product.quantity <= 0 %>">Buy Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-12 text-center">
        <div class="text-muted text-medium">Whoops! This place seems lonely.</div>
      </div>
    <% end %>
  </div>
</div>