<%= form_with(model: category, local: true, :class => "col-8") do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :active %>
    <br>
    <%= form.check_box :active, :class => "form-control", "data-toggle" => "toggle", "data-onstyle" => "outline-primary", "data-offstyle" => "outline-secondary", "data-size" => "sm" %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", :class => "btn btn-primary form-action" %>
  </div>
<% end %>
